form{
    width:280px;
    background: #ddd;
    box-sizing:border-box;
    padding:30px 15px 15px 15px;
    -webkit-box-shadow:0 2px 5px 2px  rgba(0,0,0,.6);
    box-shadow:0 2px 5px 2px rgba(0,0,0,.6);
    
}
input[type="text"]
{
    width:94%;
    height:30%;
    padding:1px;
    padding-top: 50px;
    margin: 10px;
    margin-left: 5px;
    text-align: right;
    font-family: 'orbitron',sans-serif;
    box-sizing:border-box;
    font-size:50px;
}
input[type="button"]
{
    width: 58px;
    height:55px;
    background: black;
    color:#fff;
    font-size: 24px;
    margin-bottom:10px;
    
}
hr{
    margin: 15px 0;
}


